<%= form_with(model: @article, local: true) do |t| %>

    <p>
        <%= t.label :title %>
        <br>
        <%= t.text_field :title %>
    </p>

    <p>
        <%= t.label :description %>
        <br>
        <%= t.text_area :description %>
    </p>

    <p>
        <%= t.submit %>
    </p>
    
<% end %>